    <div class="home-container">
      <header class="hero-section">
        <h1 class="welcome-title">Welcome to TylerVest</h1>
        <p class="welcome-subtitle">Lets make some damn money</p>
      </header>
      <section>
        <h2>Loan Visualization</h2>
        <div *ngIf="loans.length === 0">No loan data to display.</div>
          <app-generic-loan-chart [loans]="loans" [isHomeScreen]=true></app-generic-loan-chart>
      </section>

      <main class="main-content">
        <section class="about">
          <h2>About Us</h2>
          <p>
            Ev, Bethany, Nate Dawg, Chris
          </p>
        </section>
      </main>

      <footer class="footer">
        <p>&copy; 2025 Holy First Place</p>
      </footer>
    </div>